* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

@import "./base/mixins";
@import "./base/variables";

.container {
    max-width: 1240px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #0f172a;
}

@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/curses";
@import "./blocks/rega";
@import "./blocks/reged";

@import "./base/media";


::-webkit-scrollbar {
    width: 12px;
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background-color: var(--acsent);
    border-radius: 100px; 
    border: 3px solid #0f172a; 

    &:hover {
        background-color: var(--hover); 
    }
}