.header {
    padding-block: 8px;
    padding: 8px;
    transition: 0.3s all;
    background-color: var(--grey);
    position: sticky;
    z-index: 10;
    top: 0;
    .header__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header__logo {
            width: 180px;
        }
        .header__links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .header__link {
                text-decoration: none;
                color: var(--fone-color);
                transition: 0.2s all;
            }
        }
    }
    .header__burger {
        display: none;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 20;

        span, &::before, &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: 0.3s all;
        }
        &::before { top: 0; }
        span { top: 9px; }
        &::after { bottom: 0; }

        &.active {
            span { transform: scale(0); }
            &::before { transform: rotate(45deg); top: 9px; }
            &::after { transform: rotate(-45deg); bottom: 9px; }
        }
    }
}

.active__header {
    border-radius: 0 0 18px 18px;
    padding: 6px;
    box-shadow: 0 4px 120px rgb(0, 0, 0);
}