.registration {
    padding-block: 80px;
    background-color: #0f172a;

    .reg__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 40px 100px rgba(0, 0, 0, 0.4);
    }
    .left-side {
        flex: 1 1 450px;
        background: #1e293b;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 36px;
            color: #fff;
            margin-bottom: 30px;
            font-weight: 700;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .inp,
            .select__field {
                width: 100%;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 16px;
                border-radius: 12px;
                color: #fff;
                outline: none;
                &:focus {
                    border-color: var(--acsent);
                }
                option {
                    background: var(--cards);
                }
            }
        }
        .reg__btn {
            margin-top: 20px;
            width: 100%;
            background-color: var(--acsent) !important;
            border: none !important;
            color: #fff !important;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                background-color: #fff !important;
                color: var(--cards) !important;
                transform: scale(1.02);
            }
        }
    }
    .right-side {
        flex: 1 1 450px;
        background: linear-gradient(
            135deg,
            var(--acsent) 0%,
            var(--hover) 100%
        );
        padding: 60px;
        display: flex;
        align-items: center;
        color: #fff;
        .title {
            margin-bottom: 36px;
            font-size: 30px;
        }
        .list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 35px;
            .list_text {
                font-size: 20px;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 15px;
                &::before {
                    content: "✓";
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 50%;
                    font-size: 16px;
                }
            }
        }
    }
}
