.about {
    background-color: var(--light-blocks);
    padding-block: 60px;
    .about__items {
        text-align: center;
        .about__cards {
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .card {
                border: 1px solid var(--acsent);
                border-radius: 12px;
                background-color: var(--cards);
                width: 260px;
                height: 300px;
                padding: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                i {
                    font-size: 80px;
                }
            }
        }
    }
}